/* CSS styles go here */
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    margin: 100px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

.sub1, .sub2, .sub3 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.sub1 {
    background-color: rgb(214, 124, 124);
}

.sub2 {
    background-color: maroon;
    color: white;
}

.sub3 {
    background-color: rgb(223, 212, 121);
    color: black;
    float: right;
}

.content {
    padding: 5px;
    border: none;
    background-color: gray;
    font-family: Helvetica;
    color: black;
    margin: 0;
    height: 200px;
    overflow: auto;
}

.row {
    width: 90%;
}

/* Desktop version */
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/* Tablet version */
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin: 0 auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin: 0 auto;
    }
}

/* Mobile version */
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
